@use './_partials/typography' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'AvenirNext LT Pro', sans-serif;
}

.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    &__title-container {
        display: flex;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-size: 1.875rem;
    }

    &__title-icon {
        height: 2.25rem;
        margin-left: .3125rem;
    }

    &__add-book-button {
        border: none;
        color: white;
        background-color: black;
        border-radius: 4px;
        width: 7rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #545454;
        }
    }
}

.main {
    background-color: #f2f2f2;

    // Must make parent div holding modal 100% width & height so function to close on window click will work
    &__modal {
        display: none; //hidden by default
        position: fixed; //stay in place
        z-index: 1; //sit on top
        left: 0;
        top: 0;
        width: 100%; //required
        height: 100%; //required
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }

    &__modal-content {
        //this will center the modal to center of page
        position: absolute; //center
        left: 50%; //center
        top: 50%; //center
        transform: translate(-50%, -50%); //center
        background-color: #f2f2f2;
        width: 20rem;
        height: 29rem;
        padding: 1rem;
        border-radius: 4px;
    }

    &__modal-content-form {
        display: flex;
        flex-direction: column;
    }

    &__modal-close {
        position: absolute;
        top: 0;
        right: 10px;
        font-size: 30px;
        font-weight: 700;
        color: #545454;
        cursor: pointer; 

        &:hover {
            color: black;
        }
    }

    &__modal-book-title-label {
        margin-top: 1rem;
        margin-bottom: 4px;
    }

    &__modal-book-title-input {
        height: 26px;
    }

    &__modal-book-author-label {
        margin-top: .5rem;
        margin-bottom: 4px;
    }

    &__modal-book-author-input {
        height: 26px;
    }

    &__modal-book-pages-label {
        margin-top: .5rem;
        margin-bottom: 4px;
    }

    &__modal-book-pages-input {
        height: 26px;
    }

    &__modal-book-description-label {
        margin-top: .5rem;
        margin-bottom: 4px;
    }

    &__modal-book-isread-container {
        margin-top: .5rem;
        display: flex;
        align-items: center;
    }

    &__modal-book-submit-button {
        margin-top: .5rem;
        
    }

    &__book-cards {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       grid-auto-rows: min-content;
       gap: 1rem;
       padding: 1rem;
    }
}

.book {
   border: 1px solid black;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;

    &__title {
        margin-bottom: 0;
        font-size: 20px; 
    }

    &__author {
        margin-bottom: 0;
        font-size: 14px;
    }

    &__pages {
        font-size: 12px;
    }

    &__description {
        font-size: 16px;
    }

    &__button-div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: auto;
    }

    &__is-read {
        border: none;
        color: white;
        background-color: #9FCD99;
        border-radius: 4px;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #5d785a;
        }
    }

    &__is-not-read {
        border: none;
        color: white;
        background-color: #F26C64;
        border-radius: 4px;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #9d4641;
        }
    }

    &__remove-button {
        border: none;
        color: white;
        background-color: #545454;
        border-radius: 4px;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: black;
        }
    }
}