@use './_partials/typography' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'AvenirNext LT Pro', sans-serif;
}

.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    &__title-container {
        display: flex;
        align-items: center;
    }

    &__title {
        margin: 0;
        font-size: 1.875rem;
    }

    &__title-icon {
        height: 2.25rem;
        margin-left: .3125rem;
    }

    &__add-book-button {
        border: none;
        color: white;
        background-color: black;
        border-radius: 4px;
        width: 7rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #545454;
        }
    }
}

.main {
    background-color: #f2f2f2;

    // Must make parent div holding modal 100% width & height so function to close on window click will work
    &__modal {
        display: none; //hidden by default
        position: fixed; //stay in place
        z-index: 1; //sit on top
        left: 0;
        top: 0;
        width: 100%; //required
        height: 100%; //required
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
    }

    &__modal-content {
        //this will center the modal to center of page
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: red;
    }

    &__modal-content-form {
        display: flex;
        flex-direction: column;
    }

    &__book-cards {
       display: grid;
       grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
       grid-auto-rows: min-content;
       gap: 1rem;
       padding: 1rem;
    }
}

.book {
   border: 1px solid black;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 1rem;

    &__title {
        margin-bottom: 0;
        font-size: 20px; 
    }

    &__author {
        margin-bottom: 0;
        font-size: 14px;
    }

    &__pages {
        font-size: 12px;
    }

    &__description {
        font-size: 16px;
    }

    &__button-div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: auto;
    }

    &__is-read {
        border: none;
        color: white;
        background-color: #9FCD99;
        border-radius: 4px;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            // background-color: #BC544B;
        }
    }

    &__is-not-read {
        border: none;
        color: white;
        background-color: #F26C64;
        border-radius: 4px;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            // background-color: #BC544B;
        }
    }

    &__remove-button {
        border: none;
        color: white;
        background-color: #545454;
        border-radius: 4px;
        width: 7rem;
        height: 2rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            // background-color: #BC544B;
        }
    }
}