@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("../assets/Font/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/Font/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "AvenirNext LT Pro", sans-serif;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}
.header__title-container {
  display: flex;
  align-items: center;
}
.header__title {
  margin: 0;
  font-size: 1.875rem;
}
.header__title-icon {
  height: 2.25rem;
  margin-left: 0.3125rem;
}
.header__add-book-button {
  border: none;
  color: white;
  background-color: black;
  border-radius: 4px;
  width: 7rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.header__add-book-button:hover {
  background-color: #545454;
}

.main {
  background-color: #f2f2f2;
}
.main__modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.main__modal-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f2f2f2;
  width: 20rem;
  height: 29rem;
  padding: 1rem;
  border-radius: 4px;
}
.main__modal-content-form {
  display: flex;
  flex-direction: column;
}
.main__modal-close {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #545454;
  cursor: pointer;
}
.main__modal-close:hover {
  color: black;
}
.main__modal-book-title-label {
  margin-top: 1rem;
  margin-bottom: 4px;
}
.main__modal-book-title-input {
  height: 26px;
}
.main__modal-book-author-label {
  margin-top: 0.5rem;
  margin-bottom: 4px;
}
.main__modal-book-author-input {
  height: 26px;
}
.main__modal-book-pages-label {
  margin-top: 0.5rem;
  margin-bottom: 4px;
}
.main__modal-book-pages-input {
  height: 26px;
}
.main__modal-book-description-label {
  margin-top: 0.5rem;
  margin-bottom: 4px;
}
.main__modal-book-isread-container {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
}
.main__modal-book-submit-button {
  margin-top: 0.5rem;
  height: 2rem;
}
.main__book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: -webkit-min-content;
  grid-auto-rows: min-content;
  gap: 1rem;
  padding: 1rem;
}

.book {
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.book__title {
  margin-bottom: 0;
  font-size: 20px;
}
.book__author {
  margin-bottom: 0;
  font-size: 14px;
}
.book__pages {
  font-size: 12px;
}
.book__description {
  font-size: 16px;
}
.book__button-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: auto;
}
.book__is-read {
  border: none;
  color: white;
  background-color: #9FCD99;
  border-radius: 4px;
  width: 7rem;
  height: 2.5rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.book__is-read:hover {
  background-color: #5d785a;
}
.book__is-not-read {
  border: none;
  color: white;
  background-color: #F26C64;
  border-radius: 4px;
  width: 7rem;
  height: 2.5rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.book__is-not-read:hover {
  background-color: #9d4641;
}
.book__remove-button {
  border: none;
  color: white;
  background-color: #545454;
  border-radius: 4px;
  width: 7rem;
  height: 2.5rem;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.book__remove-button:hover {
  background-color: black;
}/*# sourceMappingURL=style.css.map */