@use './_partials/typography' as *;

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'AvenirNext LT Pro', sans-serif;
}

.header {
    display: flex;
    padding: 1rem;
    justify-content: space-between;

    &__title {
        margin: 0;
        font-size: 1.875rem;
    }

    &__add-book-button {
        border: none;
        color: white;
        background-color: black;
        border-radius: 4px;
        width: 7rem;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: #545454;
        }
    }
}

.main {
    background-color: #f2f2f2;

    &__title {
       
    }

    &__modal {
        display: none;
    }

    &__book-cards {
       
    }
}

.book {
   

    &__title {
        margin-bottom: 0;
        font-size: 16px; 
    }

    &__author {
        margin-bottom: 0;
        font-size: 12px;
    }

    &__pages {

    }

    &__is-read-button {

    }
}